body { background: #b12e8b; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 48px; display: flex; }
.block-invoice-0 { color: #4986d9; font-size: 21px; margin-bottom: 5px; }
.block-metrics-1 { color: #cb1cde; font-size: 12px; margin-bottom: 5px; }
.block-search-2 { color: #29a7f; font-size: 20px; margin-bottom: 5px; }
.block-auth-3 { color: #e06343; font-size: 13px; margin-bottom: 5px; }
.block-search-4 { color: #ed58b7; font-size: 20px; margin-bottom: 5px; }
.block-user-5 { color: #484907; font-size: 15px; margin-bottom: 5px; }